header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #999;
  padding: 20px;
  overflow: hidden;

  border-radius: none;
  transition: border-radius 0.3s;
}
.header-loggedin {
  border-radius: 20px;
  transition: border-radius 0.3s;
}
header .syslanguage {
  font-size: 20px;
  margin-left: -100px;
}
.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(153, 153, 153, 1);
  background-color: rgba(153, 153, 153, 0.5);
  /* background-color: rgb(0, 128, 0, 0.5); */
  border-radius: 50%;
  transition: all 0.3s;
  font-weight: 700;
}

.avatarloggedout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  background-color: rgba(153, 153, 153, 0.2);
  /* background-color: rgb(255, 0, 1, 0.5); */
  border-radius: 0;
  transition: all 0.3s;
}
